
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    padding: 30px, 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 100;

}

.logo {
    font-size: 3em;
    color: #000099;
    pointer-events: none;
    padding: 10px;
}

.navigation a{
    font-size: 1.5em;
    text-decoration: none;
    color: #000099;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    right: 10;

}

.navigation a:hover,
.navigation a.active {
    background: #0080FF;
    color: #ffffff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text {
    position: fixed;
    font-size: 5em;
    color: #00CC66;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2)
}

.parallax img {
    position: absolute;
    top: 0;


    width: 100%;
    pointer-events: none;
    height: auto;
    overflow: hidden;
}

.sec {
    position: absolute;
    background: #ffffff;
    padding: 100px;

}

.sec h2 {
    font-size: 3em;
    color: #000;
    margin-bottom: 10px;

}
